*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #140400;
}

h1{
    font-size: 5em;
    padding-top: 1em;
    font-family: 'Great Vibes',cursive;
    text-align: center;
    background: linear-gradient(90deg, #140400,
                                    #85133e,
                                    #d34c65,
                                    #ececec,
                                    #ececec);
  -webkit-background-clip: text;
  text-shadow: 2px 2px 5px rgba(107, 10, 60, 0.5);
  color: transparent;
}

.img_inicial_container{
    display: flex;          
    flex-wrap: wrap;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center
}
.img_inicial_container p {
    padding-right: 1em;
    font-size: 2em;
    color: white;
}
.img_inicial {
    background-color: transparent;
    filter: drop-shadow(15px 10px 15px rgba(116, 5, 5, 0.4));
    height: 50vw;
}
