*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #140400;
}

h1{
    font-size: 4em;
    font-family: 'Great Vibes',cursive;
    text-align: center;
    background: linear-gradient(90deg, #140400,
                                    #85133e,
                                    #d34c65,
                                    #ececec,
                                    #ececec);
  -webkit-background-clip: text;
  text-shadow: 2px 2px 5px rgba(107, 10, 60, 0.5);
  color: transparent;
}

.img_inicial_container{
    height: 100vh;
    display: flex;          
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center
}
.img_inicial_container p {
    background-color: transparent;
    position: relative;
    top: -50px;
    padding: 0 60px;
    text-align: center;
    padding-right: 1em;
    font-size: 1.3em;
    color: white;
    text-shadow: 2px 2px 5px rgb(151, 8, 84);
}
.img_inicial {
    background-color: transparent;
    filter: drop-shadow(15px 10px 15px rgba(116, 5, 5, 0.4));
    height: 80vw;
}

p{
    color: #ececec;
}